[Desktop Entry]
Type=Application
Name=Screenshot
Comment=screenshot
Exec=screenshot
Icon=camera-photo
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Terminal=false

