[Desktop Entry]
Name=Screenshot
Comment=Save images of your screen or individual windows
Keywords=snapshot;capture;print;screenshot;
Exec=screenshot
Terminal=false
Type=Application
Icon=applets-screenshooter
StartupNotify=true
Categories=Utility;
